<div class="flex items-center justify-between p-4">
  <div class="">
    <span class="mx-1 text-color">Items per page: </span>
    <p-dropdown
      [disabled]="disabled"
      [options]="options"
      optionLabel="label"
      optionValue="value"
      [(ngModel)]="rows"
      (ngModelChange)="first = 0"
    ></p-dropdown>
  </div>

  <div class="flex items-center justify-center">
    <span class="p-input-icon-right me-4">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        placeholder="Search keyword"
        class="p-2 px-4 bg-slate-300 rounded-3xl"
        [(ngModel)]="searchStr"
        (input)="table.reset()"
      />
    </span>
    <a routerLink="/tasks">
      <p-button icon="pi pi-home "></p-button>
    </a>
  </div>
</div>

<p-table
  [value]="todos | arrayFilter : searchStr"
  [paginator]="true"
  [rows]="rows"
  selectionMode="single"
  [showCurrentPageReport]="true"
  (sortFunction)="customSort($event)"
  [customSort]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  #table
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id" style="width: max-content">ID<p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="userId" style="width: max-content">User ID<p-sortIcon field="userId"></p-sortIcon></th>
      <th pSortableColumn="title" style="width: max-content">Title<p-sortIcon field="title"></p-sortIcon></th>
      <th pSortableColumn="completed" style="width: max-content">
        Completed<p-sortIcon field="completed"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-todo>
    <tr *ngIf="!disabled">
      <td>{{ todo.id }}</td>
      <td>{{ todo.userId }}</td>
      <td>{{ todo.title }}</td>
      <td>{{ todo.completed }}</td>
    </tr>
    <tr *ngIf="disabled">
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
    </tr>
  </ng-template>

  <ng-template pTemplate="paginatorright"> </ng-template>
</p-table>
