<section class="h-screen w-full bg-[#043367]">
  <div class="flex items-center justify-evenly h-screen flex-wrap content-center w-4/4 mx-auto lg:w-3/4">
    <div class="p-1 shadow-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 rounded-2xl mr-2 mb-4">
      <a class="block p-6 bg-gray-900 sm:p-8 rounded-xl text-center" routerLink="/task1">
        <h5 class="text-2xl font-bold text-gray-50">Task No.1</h5>

        <span
          class="fa fa-user text-white pt-4 text-5xl text-transparent bg-clip-text bg-gradient-to-r from-blue-300 via-blue-500 to-blue-600 rounded-2xl mb-4"
        ></span>
      </a>
    </div>
    <div class="p-1 shadow-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 rounded-2xl mr-2 mb-4">
      <a class="block p-6 bg-gray-900 sm:p-8 rounded-xl text-center" routerLink="/task2">
        <h5 class="text-2xl font-bold text-gray-50">Task No.2</h5>
      </a>
    </div>
  </div>
</section>
